html, body {
    margin: 0px;
    background-color: #228415;
    color: white;
}


.title {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.card-blackJack {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computer-cards, #player-cards {
    height: 250px;
}